# Environment
.env
lakehouse_env/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.iml

# Data files (too large for Git)
data/raw/*.parquet
data/raw/*.csv
*.parquet
*.csv

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

jars/
